<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.cyberforum.mapper.AdministratorMapper">

    <resultMap id="UserMap" type="org.example.cyberforum.entities.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="encrypted_password" property="password" />
        <result column="email" property="email" />
    </resultMap>

    <resultMap id="AdministratorMap" type="org.example.cyberforum.entities.Administrator">
        <result column="forum_id" property="forumId" />
        <result column="administrator_id" property="userId" />
    </resultMap>

    <insert id="addAdministrator">
        INSERT INTO administrator(forum_id,administrator_id)
        VALUES (#{forumId},#{userId})
    </insert>

    <delete id="deleteAdministrator">
        DELETE FROM administrator
        WHERE administrator_id = #{userId}
        AND forum_id = #{forumId}
    </delete>

    <select id="getAdministratorByForumId" resultMap="UserMap">
        SELECT * FROM user
        WHERE id
        IN (SELECT administrator_id FROM administrator WHERE forum_id = #{forumId})
    </select>

    <select id="getAdministrators" resultMap="AdministratorMap">
        SELECT *
        FROM administrator
    </select>

    <select id="containsAdministrator" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM administrator
        WHERE forum_id = #{forumId}
        AND administrator_id = #{userId}
    </select>
</mapper>