<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.cyberforum.mapper.BlogMapper">
    <resultMap id="BlogMap" type="org.example.cyberforum.bean.Blog">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="forum_id" property="forumId"/>
        <result column="create_time" property="createTime"/>
        <result column="is_top" property="isTop"/>
    </resultMap>

    <insert id="addBlog">
        insert into blog(title,content,user_id,forum_id,create_time) values(#{title},#{content},#{userId},#{forumId},#{createTime})
    </insert>
    <delete id="deleteBlogById">
        delete from blog where id = #{id}
    </delete>

    <update id="cancelTop">
        update blog set is_top = 0 where id = #{id}
    </update>

    <update id="putTop">
        update blog set is_top = 1 where id = #{id}
    </update>

    <select id="getBlogById" resultMap="BlogMap">
        select id,title,content,user_id,forum_id,create_time, is_top from blog where id = #{id}
    </select>

    <select id="getBlogsByForumId" resultMap="BlogMap">
        select id,title,content,user_id,forum_id,create_time, is_top from blog where forum_id = #{id} order by create_time desc
    </select>

    <select id="getBlogList" resultMap="BlogMap">
        select id,title,content,user_id,forum_id,create_time, is_top from blog
    </select>
    <select id="getLatestBlogList" resultMap="BlogMap">
        select id,title,content,user_id,forum_id,create_time, is_top from blog order by create_time desc limit 10
    </select>
</mapper>