<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.cyberforum.mapper.ForumMapper">

    <resultMap id="ForumMap" type="org.example.cyberforum.entities.Forum">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="owner_id" property="ownerId"/>
    </resultMap>

    <insert id="addForum" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO forum
        (name, owner_id)
        VALUE
        (#{name}, #{ownerId})
    </insert>

    <select id="getForumList" resultMap="ForumMap">
        SELECT id, name, owner_id
        FROM forum
    </select>

    <select id="getForumById" resultMap="ForumMap">
        SELECT id, name, owner_id
        FROM forum
        WHERE id = #{id}
    </select>

    <select id="containsForum" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM forum
        WHERE id = #{id}
    </select>

    <select id="containsForumByName" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM forum
        WHERE name = #{forumName}
    </select>

    <select id="getForumCount" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM forum
    </select>

    <select id="getPaginatedForumList" resultMap="ForumMap">
        SELECT id, name, owner_id
        FROM forum
        LIMIT #{startIndex}, #{pageSize}
    </select>

</mapper>