<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.example.cyberforum.mapper.UserMapper" >

    <resultMap id="UserMap" type="org.example.cyberforum.entities.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="encrypted_password" property="password" />
        <result column="email" property="email" />
    </resultMap>

    <insert id="addUser">
        INSERT INTO user(user_name,encrypted_password,email)
        VALUES
        (#{userName},#{encryptedPassword},#{email})
    </insert>

    <update id="updateUser">
        UPDATE user
        SET encrypted_password = #{encryptedPassword}
        WHERE user_name = #{userName}
    </update>

    <select id="getEncryptedPassword" resultType="java.lang.String">
        SELECT encrypted_password
        FROM user
        WHERE user_name = #{userName}
    </select>

    <select id="getUserByUserName" resultMap="UserMap">
        SELECT id,user_name,encrypted_password,email
        FROM user
        WHERE user_name = #{userName}
    </select>

    <select id="getUserList" resultMap="UserMap">
        SELECT id,user_name,encrypted_password,email
        FROM user
    </select>

    <select id="getUserIdByUserName" resultType="java.lang.Long">
        SELECT id
        FROM user
        WHERE user_name = #{userName}
    </select>

    <select id="getUserById" resultMap="UserMap">
        SELECT id,user_name,encrypted_password,email
        FROM user
        WHERE id = #{id}
    </select>

    <select id="ifContainsUser" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM user
        WHERE user_name = #{userName}
    </select>

    <select id="ifUserNameAndEncryptedPasswordMatch" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM user
        WHERE user_name = #{userName}
        AND encrypted_password = #{encryptedPassword}
    </select>

    <select id="ifUserNameANdEmailMatch" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM user
        WHERE user_name = #{userName}
        AND email = #{email}
    </select>

    <select id="ifContainsUserByUserName" resultType="java.lang.Boolean">
        SELECT COUNT(1) > 0
        FROM user
        WHERE user_name = #{userName}
    </select>
</mapper>